.card {
	 box-shadow: 0px 4px 8px #fedce2;
	 border:1px solid #fedce2;

}

.card-header{
	font-size:20px;
	background-color: #f4a0c4;
	color: white;
	padding: 10px;
}

.card-block {
	height: 200px;
	overflow: scroll;
	
}

.card-text {
	line-height: 5px;
	padding: 5px 10px;
}